
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(135deg, #f6d365, #fda085);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
  color: #333;
}

.container {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}



.container img {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff6f61;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

button {
  background: #ff6f61;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #ff3b2f;
}

button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
   margin-bottom: 10px;
  }
}
