body {
  font-family: Arial, sans-serif;
  background: #e95968;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 96vh;
}

.form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 300px;
  max-width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: Georgia;
  text-align: center;
  color: #333;
  margin: 10px 0;
}

.container img {
  width: 150px;
  height: 60px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #28a745;
  color: white;
  font-weight: bold;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
  background: #fafafa;
  box-shadow: 0 8px 12px orangered;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: grab;
}

li.achete span {
  text-decoration: line-through;
  color: gray;
}

li span {
  width: 50%;
  white-space: normal;
  word-break: break-word;
}

.actions button {
  margin-left: 5px;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.mark-btn {
  background: #007bff;
}

.delete-btn {
  background: #dc3545;
}

.clear-btn {
  width: 100%;
  font-size: 25px;
  margin-top: 15px;
  background: #dc3545;
}

#erreurBox {
  display: none;
  color: red;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  position: fixed;
  top: 0;
}

ul#liste {
 
  width: 90%;
  scrollbar-width: thin; /* corrigé */
  height: 90vh;
  max-height: 100%;
  padding-right: 5px;
  overflow-y: auto; /* pour bien scroller */
}

.achete {
  text-decoration: line-through;
  opacity: 0.6;
}

.prix-input {
  width: 70px;       /* corrigé */
  max-width: 20%;    
  margin-left: 10px;
}

#home button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

#home button {
  width: 100%;
}

#home h1 {
  margin: 0 5px;
  font-size: 1.3rem;
  color: orangered;
  font-weight: bold;
}

#home p strong:nth-child(3) {
  color: orangered;
}

#home p {
  font-size: 0.9rem;
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home img {
  width: 250px;
  height: 170px;
}


#totalContainer, #totalcontainer span #total{
  font-size: 1.8rem;
  background-color: #28A745;
  color: white;
}
/***************************************************************************************************/

/* Small screens - responsive */
@media screen and (min-width: 650px) {
  .container {
    width: 700px;
    max-width: 76%;
    max-height: 90vh;
  }

  
}
